@media only screen and (max-width: 450px) {

  #firstRow {
    height: 30px;
    overflow: hidden;
  }

  #addressRow img {
    height: 70px;
    margin: 8px;
  }

  #thirdRow {
    height: 150px;
    overflow: hidden;
    margin: 2px;
  }

  #logoRow #name {
    height: 60px;
    margin: 8px;
  }

  #logoRow .tag-line {
    margin-top: 5px;
    font-size: 1em;
  }

  #logoRow .diamond {
    width: 10px;
  }

  h2 {
    font-size: 1.1em;
  }

  #arrowRow {
    height: 155px;
    overflow: hidden;
    text-align: center;
  }

  #moreThisWayRow h3 {
    margin-top: 0px;
  }

  #bigLineRow {
    height: 100px;
    overflow: hidden;
  }

  #stayAWhileRow {
    height: 480px;
  }

  #stayAWhileRow .look-around-col {
    margin-top: 25px;
  }

  #stayAWhileRow .top-line {
    display: none;
  }

  #stayAWhileRow h1 {
    margin-top: 0px;
  }

  #stayAWhileRow #heron2 {
    display: none;
  }

  #stayAWhileRow .btm-line {
    display: none;
  }

  #stayAWhileRow #heron1 {
    height: 250px;
  }

  #heron2Col {
    display: none;
  }

  #storied-past {
    padding: 0 25px 20px;
  }

  #bigOleLine .line-row .col{
    display: none;
  }

  #bigOleLine .col {
    height: 200px
  }

  #bigLineRow2 {
    height: 150px;
  }

  #buildingDiv {
    display: none;
  }

  #aTownFullRow h2 {
    display: none;

  }

  #aBriefHistoryRow {
    height: 510px;
    margin: auto;
  }

  #aBriefHistoryRow .line-row {
    display: none;
  }

  #aTownFullRow #quote {
    max-width: 230px;
  }

  #backGroundImage {
    background-image: url("images/noelle-hotel-nashville-tn_boutique_rendering.jpg");
    background-repeat: no-repeat;
    background-position: 15px 0;
    background-size: 360px;
    padding: 20px 0 60px;
  }

  #end-of-the-line {
    display: none;
  }

  #footerRow p {
    display: none;
  }

  #button1 {
    margin-top: 0px;
  }

  #footerRow img{
    height: 100px;
  }

  #arrowRow2 {
    height: 65px;
  }

  #arrowRow2 .first-line{
    height: 50px;
  }

  #arrowRow3 {
    height: 65px;
    margin-top: -50px;
  }

  #arrowRow3 .first-line{
    height: 50px;
  }

  #remodal {
    display: none;
  }

  body .remodal-bg {
    display: none;
  }
}


}

/*@media only screen and (max-device-width: 736px) {

  h1 {
  	font-size: 1.2px;
  	text-transform: uppercase;
  }

  h2 {
  	font-size: 1em;
  	text-transform: uppercase;
  }

  h3 {
  	font-size: 0.8px;
  }

  @font-face {
    font-family: "Domaine";
    src: url(fonts/vllg-Klim-DomaineSansText-AllStyles-WebFonts/DomaineSansTextWeb-Bold.woff) format("truetype");
  }

  @font-face {
    font-family: "Grotesk";
    src: url(fonts/vllg-Klim-FoundersGroteskText-AllStyles-WebFonts/FoundersGroteskTextWeb-Regular.woff) format("truetype");
  }


  h1, h2, h3, h5, h6 {
  	font-family: "Domaine", sans-serif;
  }

  .domaine {
  	font-family: "Domaine", sans-serif;
  }

  p {
  	font-family: "Grotesk", sans-serif;
  	font-size: 14px;
  	line-height: 1.2;
  }

  .center-align {
  	text-align: center !important;
  }

  .centerLine {
  	width: 4px;
  }

  .btm-mrg {
  	margin-bottom: 8px;
  }

  .top-mrg {
  	margin-top: 10px;
  }

  .pad-left {
  	padding-left: 7px;
  }

  .pad-right {
  	padding-right: 7px;
  }

  #firstRow {
  	height: 70px;
  	overflow: hidden;
  }

  #addressRow img {
  	height: 50px;
  	margin: 8px;
  }

  #thirdRow {
  	height: 100px;
  	overflow: hidden;
  	margin: 2px;
  }

  #logoRow #name {
  	height: 50px;
  	margin: 8px;
  }

  #logoRow .tag-line {
  	margin-top: 5px;
  	font-size: 0.8em;
  }

  #logoRow .diamond {
  	width: 10px;
  }

  #arrowRow {
  	height: 150px;
  	overflow: hidden;
  	text-align: center;
  }

  #arrowRow2 {
  	height: 130px;
  	overflow: hidden;
  	text-align: center;
  }

  #arrowRow2 .first-line {
  	height: 110px;
  	overflow: hidden;
  }

  #arrowRow img,
  #arrowRow2 img,
  #bigLineRow img,
  #bigLineRow2 img {
  	display: block;
  	margin: auto;
  }

  #arrowRow .arrow,
  #arrowRow2 .arrow,
  #aBriefHistoryRow .arrow {
  	width: 30px;
  }

  #bigLineRow {
  	height: 180px;
  	overflow: hidden;
  }

  #bigLineRow2 {
  	height: 100px;
  	overflow: hidden;
  }

  #stayAWhileRow #heron {
  	height: 340px;
  }

  #stayAWhileRow .top-line {
  	height: 70px;
  	overflow: hidden;
  }

  #stayAWhileRow .btm-line {
  	height: 90px;
  	margin-top: 16px;
  }

  #aBriefHistoryRow h3 p {
  	margin-top: 20px
  }

  #aBriefHistoryRow .line-row {
  	height: 105px;
  	overflow: hidden;
  }

  #aBriefHistoryRow .last-row {
  	height: 112px;
  }

  #storied-past {
  	padding-top: 150px;
  }

  #storied-past p {
  	max-width: 350px;
  }

  #building {
  	height: 600px;
  }

  #aTownFullRow {
  	margin-top: 10px;
  }

  #aTownFullRow #quote {
  	max-width: 260px;
  }

  #aTownFullRow h2 {
  	padding-top: 200px;
  }

  #button1, #button2 {
  	height: 35px;
  	border: 2px solid #b0643c;
  	margin-bottom: 40px;
  	text-align: center;
  	margin-top: -15px;
  }

  #logomark img {
  	height: 40px;
  	margin: 2px;
  }

  #lastLine img {
  	height:500px;
  }

  #buttonRow h3 {
  	margin-top: 10px;
  	margin-bottom: 10px;
  }

  #buttonRow #end-of-the-line {
  	border-top: 2px solid;
  	margin-top: 0;
  	padding-top: 20px;
  }

  #footerRow {
  	height: 320px;
  }

  #footerRow p {
  	font-size: 0.8em;
  	padding-top: 15px;
  }

  .remodal {
  	background-color: #fbbd9c;

  }

  #remodal {
  	border: 5px solid #b0643c;
  	width: 420px;
  	height: 400px;
  }

  #remodal form {
  	text-align: left;
  }

  #remodal form input {
  	border: 2px solid #b0643c;
  	padding: 2px;
  	background-color: #fbbd9c;
  	width: 100%;
  	margin-bottom: 10px;
  	color: #3e4847;
  }
  #remodal form input:focus {
  	outline: none;
  }

  #remodal input[type="submit"] {
  	font-family: "Domaine", sans-serif;
  	color: #fbbd9c;
  	text-transform: uppercase;
  	background-color: #b0643c;
  	padding: 3px;
  	margin-top: 2px;
  }

  #remodal form label {
  	color: #3e4847;
  	text-transform: uppercase;
  	font-family: "Grotesk", sans-serif;
  	font-size: 12px;
  	line-height: 1.2;
  }

  #remodal p {
  	color: #3e4847;
  }

  #submit {
  	background-color: #b0643c;
  	color: white;
  }

  #remodel button {
  	color: #b0643c;
  }

*/
/*}*/
