body, html {
	height: 100%;
	width: 100%;
	background-color: #282e2a;
}

h1, h2, h3,h5, h6, p {
	color: #b0643c;
}

h1 {
	font-size: 18px;
	text-transform: uppercase;
}

h2 {
	font-size: 14px;
	text-transform: uppercase;
}

h3 {
	font-size: 12px;
}

@font-face {
  font-family: "Domaine";
  src: url(fonts/vllg-Klim-DomaineSansText-AllStyles-WebFonts/DomaineSansTextWeb-Bold.woff) format("truetype");
}

@font-face {
  font-family: "Grotesk";
  src: url(fonts/vllg-Klim-FoundersGroteskText-AllStyles-WebFonts/FoundersGroteskTextWeb-Regular.woff) format("truetype");
}


h1, h2, h3, h5, h6 {
	font-family: "Domaine", sans-serif;
}

.domaine {
	font-family: "Domaine", sans-serif;
}

p {
	font-family: "Grotesk", sans-serif;
	font-size: 16px;
	line-height: 1.2;
}

.center-align {
	text-align: center !important;
}

.centerLine {
	width: 2px;
	height: 16vh;
}

.two-px {
	width: 2px;
}

.btm-mrg {
	margin-bottom: 6px;
}

.top-mrg {
	margin-top: 8px;
}

.pad-left {
	padding-left: 5px;
}

.pad-right {
	padding-right: 5px;
}

#firstRow {
	height: 50px;
	overflow: hidden;
}

#addressRow img {
	height: 70px;
	margin: 8px;
}

#thirdRow {
	height: 19vh;
	overflow: hidden;
	margin: 2px;
}

#thirdRow img {
	height: 19vh;
}


#logoRow #name {
	height: 90px;
	margin: 8px;
}

#logoRow .tag-line {
	margin-top: 5px;
	font-size: 1em;
}

#logoRow .diamond {
	width: 10px;
}

#arrowRow {
	height: 19vh;
	overflow: hidden;
	text-align: center;
}

#arrowRow2,
#arrowRow3 {
	height: 19vh;
	overflow: hidden;
	text-align: center;
}

#arrowRow2 .first-line,
#arrowRow3 .first-line {
	height: 16vh;
	overflow: hidden;
}

#arrowRow img,
#arrowRow2 img,
#arrowRow3 img,
#bigLineRow img,
#bigLineRow2 img {
	display: block;
	margin: auto;
}

#arrowRow .arrow,
#arrowRow2 .arrow,
#arrowRow3 .arrow,
#aBriefHistoryRow .arrow {
	width: 30px;
}

#smLineRow {
	height: 120px;
	overflow: hidden;
}

#bigLineRow {
	height: 180px;
	overflow: hidden;
}

#bigLineRow2 {
	height: 100px;
	overflow: hidden;
}

#stayAWhileRow #heron1 {
	height: 340px;
}

#stayAWhileRow #heron2 {
	height: 340px;
}

#stayAWhileRow .top-line {
	height: 40px;
	overflow: hidden;
}

#stayAWhileRow .btm-line {
	height: 90px;
	margin-top: 16px;
}

#aBriefHistoryRow h3 p {
	margin-top: 20px
}

#aBriefHistoryRow .line-row {
	height: 105px;
	overflow: hidden;
}

#aBriefHistoryRow .last-row {
	height: 112px;
}

#storied-past {
	padding-top: 150px;
}

#storied-past p {
	max-width: 350px;
  margin: 10px auto;
}

#building {
	height: 600px;
}

#aTownFullRow {
	margin-top: 10px;
	max-height: 60vh;
}

#aTownFullRow #quote {
	max-width: 100%;
	max-height: 60vh;
}

#aTownFullRow h2 {
	padding-top: 55%;
}

#careersButton {
	margin-bottom: 20px;
}

#button1, #button2 {
	margin-top: -15px;
	margin-bottom: 40px;
}

#button1, #button2, #careersButton {
	height: 35px;
	border: 2px solid #b0643c;
	text-align: center;
}

#buttonRow a:hover,
#careersRow a:hover {
	text-decoration: none;
}

#careersRow #careersButton:hover,
#buttonRow #button1:hover,
#buttonRow #button2:hover {
	background-color: #b0643c;
}
#careersRow #careersButton:hover h3,
#buttonRow #button1:hover h3,
#buttonRow #button2:hover h3 {
	color: #282f2a;
}

#logomark img {
	height: 40px;
	margin: 2px;
}

#secondLastLine img {
	height: 90px;
}

#lastLine img {
	height:200px;
}

#careersRow h3,
#buttonRow h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#buttonRow #end-of-the-line {
	border-top: 2px solid;
	margin-top: 0;
	padding-top: 20px;
}

#footerRow {
	height: 320px;
}

#footerRow p {
	font-size: 0.8em;
	padding-top: 15px;
}

#mailing

#mobile-signup {
	text-align: center;
}

#mobile-signup,
.remodal {
	background-color: #fbbd9c;
}

#remodal {
	border: 5px solid #b0643c;
	width: 420px;
	height: 400px;
}

::-webkit-input-placeholder {
   color: #282f2a;
	 text-align: center;
	 font-family: "Grotesk", sans-serif;
}

#mobile-signup {
	border: 5px solid #b0643c;
	height: 320px;
	text-align: center;
}

#mailing {
	display: none;
}

#remodal form,
#large-mailing {
	text-align: left;
}

#mobile-signup #mailing {
	text-align: center;
}

#remodal form input,
#mobile-signup #large-mailing input {
	border: 2px solid #b0643c;
	padding: 2px;
	background-color: #fbbd9c;
	width: 100%;
	margin-bottom: 10px;
	color: #282f2a;
	font-family: "Grotesk", sans-serif;
}
#mobile-signup #mailing input {
	border: 2px solid #b0643c;
	padding: 10px;
	background-color: #fbbd9c;
	width: 100%;
	margin-bottom: 8px;
	color: #282f2a;
	font-family: "Grotesk", sans-serif;
	text-align: center;
}

#remodal form input:focus,
#mobile-signup form input:focus {
	outline: none;
}

#mobile-signup #mailing input[type="submit"] {
	font-family: "Domaine", sans-serif;
	color: #fbbd9c;
	text-transform: uppercase;
	background-color: #b0643c;
	margin-top: 2px;
}

#remodal input[type="submit"],
#mobile-signup #large-mailing input[type="submit"] {
	font-family: "Domaine", sans-serif;
	color: #fbbd9c;
	text-transform: uppercase;
	background-color: #b0643c;
	padding: 3px;
	margin-top: 2px;
}

#remodal form label,
#large-mailing label {
	color: #282f2a;
	text-transform: uppercase;
	font-family: "Grotesk", sans-serif;
	font-size: 12px;
	line-height: 1.2;
}

#remodal p,
#mobile-signup p {
	color: #282f2a;
}

#mobile-signup p {
	font-size: 0.9em;
	padding: 0 8px
}

#submit {
	background-color: #b0643c;
	color: white;
}

#remodel button,
#large-mailing button {
	color: #b0643c;
}

h3 a, h3 a:active, h3 a:visited, h3 a:hover {
    text-decoration:none;
    color:#b0643c;
}


::-webkit-datetime-edit-text { color: #b0643c; padding: 0 0.3em; }
input::-webkit-datetime-edit {
	color: transparent;
}
input:focus::-webkit-datetime-edit{ color: #282f2a; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { display: none; }


@media only screen and (min-height: 810px) and (max-height: 1500px) {
	#thirdRow {
		height: 25vh;
		overflow: hidden;
		margin: 2px;
	}

	#thirdRow img {
		height: 24vh;
	}
}
